node_modules
dist
dist-ssr
coverage
*.local
*.tsbuildinfo

# Netlify
.netlify

# Logs
*.log
npm-debug.log*

# Editor and OS
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.swp

# vite-plugin-pwa dev output
dev-dist
